@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}
header {
    background-color: #142850;
    text-align: center;
    color: #eaf2f3;
    padding: 35px;
    margin-left: 160px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin-left: 18%;
}

h2, h4 {
    margin-left: 18%;
    color: black;
}

.sidebar {
    font-size: 1.2em;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #27496d;
    display: block;
    padding-left: 20px; 
}

div a:hover {
    font-weight: bold;
    color: #eaf2f3;
}

a {
    text-decoration: none;
    color: #eaf2f3;
}

.bar {
    list-style: none;
    padding: 10px;
    text-align: left;
}

h3 {
    text-align: center;
    padding: 40px 100px 20px 40px;
    color: white;
    font-size: 1.5em;
}

h1 {
    /* margin-left: 16%; */
    letter-spacing: 2px;
}

footer {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #142850;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    bottom: -50%;
}

.bio {
    margin-left: 18%;
    padding-left: 22%;
}

th {
    text-align: left;
}

img {
    margin-left: 48%;
    margin-right: auto;
    display: block;
    width: 15%;
    border-radius: 5%;
    padding-bottom: 20px;
}

